.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Anpassen der Breite nach Bedarf */
}

.todoItem input[type="checkbox"] {
  margin-right: 0.5rem;
}

.todoItem span {
  margin-bottom: 0.5rem;
}

/* Hinzugefügter Stil für den Button */
.todo button {
  background-color: #4CAF50; /* Hintergrundfarbe */
  border: none; /* Keine Rahmen */
  color: white; /* Textfarbe */
  padding: 10px 20px; /* Innenabstand */
  text-align: center; /* Zentriert den Text */
  text-decoration: none; /* Keine Unterstreichung */
  font-size: 16px; /* Schriftgröße */
  margin-top: 0.5rem; /* Oberer Abstand */
  cursor: pointer; /* Zeiger, um zu zeigen, dass es anklickbar ist */
  border-radius: 5px; /* Abgerundete Ecken */
  transition: background-color 0.3s ease; /* Flüssige Übergänge */
  margin-right: 20px;
}

/* Ändern der Hintergrundfarbe, wenn der Mauszeiger über den Button bewegt wird */
.todo button:hover {
  background-color: #45a049;
}
