/* UpdateTodo.module.css */

.container {
  max-width: 600px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label input[type="checkbox"] {
  margin-right: 10px;
}

.input {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

.button, .buttonZ {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: fit-content;
}

.button {
  background-color: #007bff;
  color: #fff;
}

.buttonZ {
  background-color: #aa00ff;
  color: #fff;
}

.button:hover, .buttonZ:hover {
  background-color: #0056b3;
}

.buttonZ:hover {
  background-color: #570385;
}
